body {
    font-family: Arial, sans-serif;
    background-color:#FFFFFF;
}

#banner3 {
  padding: 20px;
  background-color: #f5f5f5; /* opcional */
}

.banner-container {
  display: flex;
  flex-wrap: wrap; /* faz quebrar em telas pequenas */
  justify-content: center;
  align-items: center;
  gap: 20px; /* espaço entre os itens */
}

.banner-box {
  flex: 1 1 300px; /* largura mínima de 300px, cresce conforme o espaço */
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-box video,
.banner-box img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-width: 400px; /* define um limite para não ficarem gigantes */
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #d7e0c3;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}
h2 {
    text-align: center;
    margin-bottom: 20px;
}
input[type="text"],
input[type="password"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
}
input[type="submit"] {
    width: 80%;
    padding: 12px;
    background-color: #000000;
    color: #F8F8FF;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 40px;
 
}

input[type="submit"]:hover {
    background-color:#FFF8DC;
    color: black;
}
img{
    margin-left: 15%;
    margin-top: 15%;
    margin-bottom: 25%;
    width: 320px;
    display: flex;
    justify-content: center;
}
input[type="button"]:hover{
    background-color: #FFF8DC;
    color: black;
}
