/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Fundo */
body {
    height: 100vh;
    background: linear-gradient(135deg, #007bff, #00bcd4);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2);
    width: 380px;
    text-align: center;
    position: relative;
}



/* Título */
h2 {
    color: #333;
    margin-bottom: 25px;
}

/* Campos */
.input-box {
    position: relative;
    margin-bottom: 25px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-box label {
    position: absolute;
    left: 10px;
    top: 10px;
    color: #777;
    pointer-events: none;
    transition: 0.3s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -12px;
    left: 5px;
    color: #007bff;
    font-size: 13px;
}

.input-box input:focus {
    border-bottom-color: #007bff;
}

/* Mostrar senha */
.toggle {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

/* Botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Cadastro */
.cadastro {
    margin-top: 15px;
    font-size: 14px;
}

.cadastro a {
    color: #007bff;
    text-decoration: none;
}

.cadastro a:hover {
    text-decoration: underline;
}

/* Menu de navegação */
.menu {
    margin-top: 25px;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: #007bff;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}

.menu ul li a:hover {
    color: #0056b3;
}
.banner-box {
  flex: 1 1 300px;
  max-width: 400px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.banner-box img,
.banner-box video {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
